<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <h1>TODO List</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group w-100">
        <input type="text" name="description" placeholder="I have to..." class="form-control" id="taskDescription">
        <div class="input-group-append">
          <input type="button" value="Add" class="btn btn-primary" onclick="saveTask();">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="taskList">
      {{#each tasks}}
      <div class="card my-3 {{#eq status 'done' }}bg-light{{/eq}}" id="{{id}}">
        <div class="card-body">
          <p class="card-text">{{ description }}</p>
          {{#eq status 'pending'}}
          <input type="button" value="Done" onclick="completeTask(this);" class="btn btn-link p-0" data-id="{{id}}" />
          {{/eq}}
          <input type="button" value="Delete" onclick="deleteTask(this);" style="color:red" class="btn btn-link p-0"
            data-id="{{id}}" />
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>