.todo {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    height: 60px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 30px;
    box-sizing: content-box;
}

p{
    margin: 10px 0;
    font-weight: 700;
}
.text{
    margin: 20px 0;
    position: relative;
}

.buttons{
    display: flex;
    position: absolute;
    top: 0;
    right: 0px;
    margin: 0;

}
.buttons form input{
    margin: 0;
    padding: 0;
    width: 60px;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
}

.buttons form input:hover{
    opacity: .6;
}

.blue{
    color: black;
}

.red{
    color: crimson;
}



.done{
    background-color: slategray;
    color: rgba(0,0,0,.6);
}

.done .blue{
    display: none;
}
